<mat-card class="add">
    <mat-card-header>
        <mat-card-title>Add New Seat</mat-card-title>
        <mat-card-subtitle>{{addMsg}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="addSeatForm">
            <mat-form-field appearance="fill" color="accent">
                <mat-label>Seat No</mat-label>
                <input matInput formControlName="seatName">
                <mat-error *ngIf="this.SeatName.invalid">Required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" color="accent">
                <mat-label>Routes</mat-label>
                <input matInput formControlName="route">
                <mat-error *ngIf="this.Route.invalid">Required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" color="accent">
                <mat-label>Trains</mat-label>
                <input matInput formControlName="train">
                <mat-error *ngIf="this.Train.invalid">Required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" color="accent">
                <mat-label>Price</mat-label>
                <input matInput formControlName="price">
                <mat-error *ngIf="this.Price.invalid">Required</mat-error>
            </mat-form-field>

            <button mat-flat-button color="accent" [disabled]="this.addSeatForm.invalid"
                    (click)="insertSeat()">ADD</button>
        </form>
    </mat-card-content>
</mat-card>

<mat-card class="delete">
    <mat-card-header>
        <mat-card-title>Delete Existing Seat</mat-card-title>
        <mat-card-subtitle>{{delMsg}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form>
            <mat-form-field appearance="fill" color="accent">
                <mat-label>Seat Id</mat-label>
                <input matInput [formControl]="deleteSeatForm">
                <mat-error *ngIf="this.deleteSeatForm.invalid">Required</mat-error>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="warn" [disabled]="this.deleteSeatForm.invalid"
                (click)="deleteSeat()">Delete</button>
    </mat-card-actions>
</mat-card>